// Colors
$side-bar-color: #333333;
$btn-default-color: #979797;
$btn-default-hover-color: #BABABA;
$btn-action-color: #F58220;
$btn-action-hover-color: #FFA200;
$btn-disabled-color: #E3E3E3;
$checkbox-hover-color: #F5F5F2;
$online-color: #04AE00;
$offline-color: #e3e3e3;
$link-color: #56819F;
$link-hover-color: #ffa200;
$positive-color: #74B67A;
$positive-hover-color: #96CC9B;
$negative-color: #DE5252;
$negative-hover-color: #EC7171;
$invalid-color: #FF0000;