.side-bar {
    font-family: $default-font;
    background-color: #191919;
    width: 10%;
    min-width: 188px;
    height: 100vh;
    font-size: 14px;
    .nav-menu {
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }
    .logo {
        display: inline-block;

    }
    .menu-toggle {
        cursor: pointer;
        display: block;
        // float: right;
        color: white;
        &::before {
            background-image: url(/images/hamburger.svg);
            background-size: cover;
            display: inline-block;
            height: 16px;
            width: 16px;
            content: '';
        }
    }

    .nav-bar {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            display: block;
            border-left: 4px solid transparent;
            i {
                margin-right: 14px;
            }
            &:hover {
                border-left: 4px solid #f58220;
                background-color: #282828;
            }
        }
    }

    &.short-menu {
        min-width: 55px;
        width: 10px;
        .nav-bar a > span, .logo {
            display: none
        }
        .menu-toggle {
            // float: left;
            display: inline-block;
        }
    }
}

.your-manager {
    border-top: 1px solid #333333;
    padding-left: 20px;
    p {
        text-transform: uppercase;
        line-height: 42px;
        font-weight: 500;
        letter-spacing: -0.28px;
        color: #808080;
    }
    .badge {
        display: flex;
    }
    .manager-image {
        display: inline-block;
        position: relative;
        .status {
            @include circle(12px);
            background-color: #04ae00;
            position: absolute;
            right: 0;
        }
    }
    .manager-name {
        color: #56819f;
        line-height: 40px;
        margin-left: 14px;
    }
}

